body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
section{
    margin-bottom: 100px;
}
/* To Manu */
.top-manu {
    margin: 5px 80px;
}
.top-manu ul{
    float: right;
}
.top-manu ul li{
    list-style-type: none;
    display: inline;
    padding: 10px 20px;
}
.top-manu ul li a{
    text-decoration: none;
    color:black;
}
/* intro */
.intro{
    padding-top: 30px;
    margin: 5px 80px;
    min-height: 500px;
}
.hight-light{
    color: orange;
}
.intro-half{
    width: 35%;
    float: left;
    margin: 4%;
    padding: 2%;
    
}
.intro-half img{
    width: 100%;
    float: left;
}
.action-button{
    text-decoration: none;
    padding: 8px 20px;
    background-image: linear-gradient(45deg,#585CDF,#462EBD);
    color:white;
    border-radius: 5px;
}
/* about */
.about{
    min-height: 500px;
}
.about p{
    margin-bottom: 30px;
}
/* Latest Work */
.latest-work{
    min-height: 620px;
    background-color: #f3f1f1;
    padding-left: 150px;
}
.latest-work h2{
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
    margin-bottom: 80px;
}
.latest-work span {
    color: tomato;
}
.work-box {
    width: 24%;
    float: left;
    margin: 5px  30px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 10px 40px grey;
}
.work-box img {
    width: 90%;
    padding: 14px;
}
.work-box p,h5{
    padding: 0px 10px 0px 20px;
}
/* inquiry */
.inquiry {
    min-height: 400px;
    background-image: url('images/inquiry.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.inquiry img{
    width: 70%;
    background-repeat: no-repeat;
    margin-left: 200px;
}
.quiry-text {
    font-size: 40px;
    margin-left: 248px;
    color: white;
    float: left;
    margin-top: 168px;
}
.quiry-button {
    text-decoration: none;
    padding: 8px 20px;
    background-image: linear-gradient(45deg,#e26614,#bd2e75);
    color: white;
    border-radius: 5px;
    float: right;
    margin-right: 265px;
    margin-top: 177px;
}
/* contact section */
.contact{
    min-height: 600px;
    background-color: #f3f1f1;
}
.contact h3{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}
.contact-box{
    width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}
.contact input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid darkgray;
}
.contact textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid darkgray;
}
.contact-button {
    text-decoration: none;
    padding: 8px 20px;
    background-image: linear-gradient(45deg,#e26614,#bd2e75);
    color: white;
    border-radius: 5px;
    margin-left: 245px;
}
/* footer */
.footer{
    text-align: center;
}
.footer h3{
    font-size: 30px;
}
.footer h6{
    font-size: 20px;
}
.footer ul li {
    list-style-type: none;
    display: inline;
}
.footer ul li a{
    text-decoration: none;
    color:black;
    padding: 4px 10px;
}
.footer img{
    width: 3%;
}
